
.App {
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}

button{
  font-family:sans-serif;
  background: #639A7B;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding:5px;
  color:white;
  
  a{
    text-decoration:none;
    color: black

  }
}












