
.section-title  {
    width: 605px;
    height: 102px;
    font-size: 22px;
    line-height: 51px;
    display: block;
    margin:auto;
    margin-top: 40px;

    
  }


.pics-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 0.75fr);
    margin: 104px;
  
  
}


img{
  width: 230px;
  height: 172px;
  border-radius: 8px
}


.card{
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 10px;

  h4{
    max-width: 230px;
    margin:auto;
    margin-top:10px;
}
button{
  margin: 12px;

  }
}

.card:hover{
  transform:scale(1.2);
}

