.linkRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    
    .nav-bar{
        margin-right: 30px;
        

        a{
            margin-right: 42px;
            text-decoration: none;
            color:black          
              }
            }

   h2{
    margin: auto  
   }
}