

  
.section-title  {
    width: 605px;
    height: 102px;
    font-size: 22px;
    line-height: 51px;
    display: block;
    margin:auto;
    margin-top: 40px
  }






img{
  width: 230px;
  height: 172px;
  border-radius: 8px
}




