.signup{
    fieldset{
         display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
    min-inline-size: min-content;
    border-width: 0px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    input{
        width:380px;
        height: 48px;
        background-color: #F0F0F5;
        border: 1px solid #E6E6EB;
        box-sizing: border-box;
        border-radius: 6px;
        margin-top:20px;
    }
    }
   
    h5{
        color:#F2994A;
    } 

    button{
      background-color: #E6E6EB;
    }

}
.account{
    background-color:#F2994A;
    border:1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 6px;
    width:380.8px;
        }

.backButton{
    display:inline-grid;
    .bb{
        margin: 150px;
    }
}