@import-normalize;

.App {
  text-align: center;
}

button{
  font-family:sans-serif;
  background: #639A7B;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding:5px;
  a{
    text-decoration:none;
    color: black

  }
}











