.plans{
    button{
        background: red;
        width: 600px;
        height: 100px;
        margin: 10px;
    }
}


.container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
.item{
padding: 10px;
h3{
    max-width: 230px;
}
}


}

