

  
.section-title  {
    width: 605px;
    height: 102px;
    font-size: 22px;
    line-height: 51px;
    display: block;
    margin:auto;
    margin-top: 40px
  }




.pics-wrapper {
  display: grid;
  grid-gap: 10px;
  margin-top: 69px;
  
  
}


img{
  width: 230px;
  height: 172px;
  border-radius: 8px
}


.card{
  padding-bottom: 30px;
  h4{
    max-width: 230px;
    margin:auto;
    margin-top:10px;

}
}

.card:hover{
  transform:scale(1.2)
}

